<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>U of Fly</title>

        <!-- Bootstrap core CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

  </head>

  <body>
   
  	<div class="bg"></div>
<div class="jumbotron">
</div> 

<div class="container" >
  <form class="form-signin">
	  <div class="text-center mb-4">

         <img class="mb-4" src="https://png2.kisspng.com/sh/b19f74f95e12af01a6e87ada42539faf/L0KzQYm3UsE5N6RxfZH0aYP2gLBuTfFqeqFxedDuLXHsgrT5gfZ1NZ10f9G2Y3zsgH7okwQuaZp3iN5qbnWwg7rziP92baV5fZ8AYUi8dIG4hvQ1a5M2SZCBNkm6SYO6UcE2OWkAUKM6NUG7R4K9TwBvbz==/kisspng-airplane-aircraft-logo-clip-art-airplane-silhouette-5a89d01fd4cb11.6697923115189811518716.png" alt="" width="72" height="72">

         <h1>UofFly</h1>

         <p>From UIUC to the World.</p>
      </div>

      <div class="form-label-group" >
        <input type="text" id="departure_airport" class="form-control" placeholder="Departure Aiport" required autofocus>
        <label for="inputEmail">Departing Airport</label>
      </div>

      <div class="form-label-group">
        <input type="text" id="arrival_airport" class="form-control" placeholder="Arrival Airport" required>
        <label for="inputPassword">Arriving Airport</label>
      </div>

      <div class="form-label-group">
        <input type="date" id="inputDate" class="form-control" placeholder="Enter Date" required>
        <label for="inputPassword">Date of Departure</label>
      </div>
      <br>
	<center>
      <p>Choose what is more important to you:</p>
     <h5>Cost vs Duration of Flight.</h5></center>

<img src="https://www.freeiconspng.com/uploads/dollar-black-circle-icon-28.png" width="32" height="32" align="left">   

<img src="https://cdn0.iconfinder.com/data/icons/feather/96/clock-512.png" width="32" height="32" align="right">   

      <div class="slidecontainer">
  		<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
	  </div> <br>

      <div class="checkbox mb-3">
        <center>
        <label>
          <input type="checkbox" value="ecofriendly"> Give Eco-Friendly Options
        </label>
      </center>
      </div>
     <div class="button">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Search Travel Routes</button>
          </div>

      <p class="mt-5 mb-3 text-muted text-center">&copy; Dhruv, Chirag, Nitish, Yatharth, Siddhant, Anirudh</p>
    </form>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
         <h1 class="h3 mb-3 font-weight-normal">Results</h1>
      <p>Below are the results if the search ranked based on your preferences.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Best</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Price</li>
              <li>Duration</li>
              <li>Fuel</li>
              <li>Wait Time</li>
              <li>Name of Flight</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Second Best</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Price</li>
              <li>Duration</li>
              <li>Fuel</li>
              <li>Wait Time</li>
              <li>Name of Flight</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Third Best</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Price</li>
              <li>Duration</li>
              <li>Fuel</li>
              <li>Wait Time</li>
              <li>Name of Flight</li>
            </ul>
          </div>
        </div>
      </div>
</div>
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/design.js"></script>
  </body>
</html>