:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

#access {
    margin-bottom: 50px;
}

.bg {
    background: url("https://png2.kisspng.com/sh/b19f74f95e12af01a6e87ada42539faf/L0KzQYm3UsE5N6RxfZH0aYP2gLBuTfFqeqFxedDuLXHsgrT5gfZ1NZ10f9G2Y3zsgH7okwQuaZp3iN5qbnWwg7rziP92baV5fZ8AYUi8dIG4hvQ1a5M2SZCBNkm6SYO6UcE2OWkAUKM6NUG7R4K9TwBvbz==/kisspng-airplane-aircraft-logo-clip-art-airplane-silhouette-5a89d01fd4cb11.6697923115189811518716.png") no-repeat center center;
    position: fixed;
    width: 100%;
    height: 700px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}

.jumbotron {
    height: 700px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background:transparent;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
    color: #133133;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.button {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
    color: #012086;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #012086;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
